<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 tile">
	<div [class.card-primary]="isStatusNotRun()" [class.card-info]="isStatusRunning()" [class.card-danger]="isStatusError()"
		[class.card-success]="isStatusSuccess()" [class.card-muted]= "isStatusStopped()"
		 class="card card-inverse text-xs-center">
		<div class="card-block">
			<blockquote class="card-blockquote">
				<h2>{{job.title}}</h2>
				<h1>{{job.count}}</h1>
				<p *ngIf="job.lastRuntime"><i class="fa fa-clock-o"></i> {{job.lastRuntime}}</p>
				<footer *ngIf="job.duration"><i class="fa fa-info-circle"></i> Took <cite title="Source Title">{{job.duration}}</cite></footer>
			</blockquote>
		</div>
	</div>
</div>